<%- contentFor('body') %>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--Home page style-->
        <nav>
            <div class="container">
                <div class="nav-top clearfix">
                    <div class="logo">
                        <a  href="" class="navbar-brand"><img src="assets/images/logo3.png" alt="Logo"  /></a>
                    </div>

                    <div class="head_top_social pull-right">
                        <ul class="list-inline">
                            <li><a href="mailto:info@ocyservice.co.uk?subject=Enquiry" ><i class="fa fa-envelope"></i>info@ocyservice.co.uk</a></li>
                            <li><a href=""><i class="fa fa-phone"></i>079 834 90 5000</a></li>
                            <li class="top_socail">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                                <a href=""><i class="fa fa-pinterest-p"></i></a>
                            </li>

                        </ul>
                    </div>

                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                    </button>

                </div>
            </div>

            <div class="main-nav navbar-collapse collapse">
                <div class="container">
                    <div class="minilogo">
                        <a  href="" class="navbar-brand"><img src="assets/images/logo2.png" alt="Logo" /></a>
                    </div>
                    <ul class="nav nav-justified">
                        <li><a href="/">HOME</a></li>
                        <li><a href="#service">ACCOUNTING</a></li>
                        <li><a href="/products">IT CONSULTANCY</a></li>
                        <li><a href="/aboutus">ABOUT</a></li>
                        <li><a href="/payrol">Payrol Calculator</a></li>
                        <li><a class="active" href="#contactus">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="formcontent">
            
                <h2>Contact OCY Service ltd</h3>
                <hr>
                
                <h2>Details</h2>
                <form>
                        <div class="form-group">
                          <label for="exampleFormControlInput1">Email address</label>
                          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Select enquiry type</label>
                          <select class="form-control" id="exampleFormControlSelect1">
                            <option>Wholesale Enquiries</option>
                            <option>General Enquiries</option>
                            <option>Others</option>
                          </select>
                        </div>
                        
                        <div class="form-group">
                          <label for="exampleFormControlTextarea1">Write enquiry here</label>
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                      </form>
        </section>
