

  <%- contentFor('body') %>
          <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--Home page style-->
        <nav>
          <div class="container">
              <div class="nav-top clearfix">
                  <div class="logo">
                      <a  href="" class="navbar-brand"><img src="assets/images/logo3.png" alt="Logo"  /></a>
                  </div>

                  <div class="head_top_social pull-right">
                      <ul class="list-inline">
                          <li><a href="mailto:info@ocyservice.co.uk?subject=Enquiry" ><i class="fa fa-envelope"></i>info@ocyservice.co.uk</a></li>
                          <li><a href=""><i class="fa fa-phone"></i>079 834 90 5000</a></li>
                          <li class="top_socail">
                              <a href=""><i class="fa fa-facebook"></i></a>
                              <a href=""><i class="fa fa-twitter"></i></a>
                              <a href=""><i class="fa fa-google-plus"></i></a>
                              <a href=""><i class="fa fa-pinterest-p"></i></a>
                          </li>

                      </ul>
                  </div>

                  <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                      <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                  </button>

              </div>
          </div>

          <div class="main-nav navbar-collapse collapse">
              <div class="container">
                  <div class="minilogo">
                      <a  href="/" class="navbar-brand"><img src="assets/images/logo2.png" alt="Logo" /></a>
                  </div>
                  <ul class="nav nav-justified">
                      <li><a href="/">HOME</a></li>
                      <li><a href="#service">ACCOUNTING</a></li>
                      <li><a class="active" href="#products">IT CONSULTANCY</a></li>
                      <li><a href="/aboutus">ABOUT</a></li>
                      <li><a href="/payrol">Payrol Calculator</a></li>
                      <li><a href="/contactus">CONTACT</a></li>
                  </ul>
              </div>
          </div>
      </nav>
        <section >
                <div class="mainproduct">

                        <h1>PRODUCTS WE IMPORT</h1>
                        <hr>
                        
                        <h2>PORTFOLIO</h2>
                        
                        <div id="myBtnContainer">
                          <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                          <button class="btn" onclick="filterSelection('nuts')"> Nuts</button>
                          <button class="btn" onclick="filterSelection('seeds')"> Seeds</button>
                          <button class="btn" onclick="filterSelection('others')"> Others</button>
                        </div>
                        
                        <!-- Portfolio Gallery Grid -->
            <div class="row">
                <div class="column nuts">
                  <div class="content">
                    <img src="assets/images/nut1.jpg" alt="Mountains" style="width:100%">
                    <h4>Mountains</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column nuts">
                  <div class="content">
                  <img src="assets/images/nut2.jpg" alt="Lights" style="width:100%">
                    <h4>Lights</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column nuts">
                  <div class="content">
                  <img src="assets/images/nut3.jpg" alt="Nature" style="width:100%">
                    <h4>Forest</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                
                <div class="column seeds">
                  <div class="content">
                    <img src="assets/images/seed1.jpeg" alt="Car" style="width:100%">
                    <h4>Retro</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column seeds">
                  <div class="content">
                  <img src="assets/images/seed2.jpg"  alt="Car" style="width:100%">
                    <h4>Fast</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column seeds">
                  <div class="content">
                  <img src="assets/images/seed3.jpeg"  alt="Car" style="width:100%">
                    <h4>Classic</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
              
                <div class="column others">
                  <div class="content">
                    <img src="assets/images/other1.jpeg" alt="Car" style="width:100%">
                    <h4>Girl</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column others">
                  <div class="content">
                  <img src="assets/images/other2.jpg" alt="Car" style="width:100%">
                    <h4>Man</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
                <div class="column others">
                  <div class="content">
                  <img src="assets/images/other3.jpg" alt="Car" style="width:100%">
                    <h4>Woman</h4>
                    <p>Lorem ipsum dolor..</p>
                  </div>
                </div>
              <!-- END GRID -->
              </div>
              
              <!-- END MAIN -->
              </div>
              
              <script>
              filterSelection("all")
              function filterSelection(c) {
                var x, i;
                x = document.getElementsByClassName("column");
                if (c == "all") c = "";
                for (i = 0; i < x.length; i++) {
                  w3RemoveClass(x[i], "show");
                  if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
                }
              }
              
              function w3AddClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                  if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
                }
              }
              
              function w3RemoveClass(element, name) {
                var i, arr1, arr2;
                arr1 = element.className.split(" ");
                arr2 = name.split(" ");
                for (i = 0; i < arr2.length; i++) {
                  while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);     
                  }
                }
                element.className = arr1.join(" ");
              }
              
              
              // Add active class to the current button (highlight it)
              var btnContainer = document.getElementById("myBtnContainer");
              var btns = btnContainer.getElementsByClassName("btn");
              for (var i = 0; i < btns.length; i++) {
                btns[i].addEventListener("click", function(){
                  var current = document.getElementsByClassName("active");
                  current[0].className = current[0].className.replace(" active", "");
                  this.className += " active";
                });
              }
              </script>
        </section>